* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
select option:hover {
  background-color: yellow;
}
body {
  background-image: linear-gradient(to top left, #f7921e9f 0%, #fced219f 100%);
  font-family: Nunito Sans, sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.display {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  align-items: center;
  width: 80%;
  height: 90%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.425);
}

.nav-bar {
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  transform: translateX(2rem);
  display: flex;
  justify-content: center;
  width: 50px;
  align-items: center;
}

.search {
  background-color: white;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
  height: 3rem;
}
.search__field {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 0.9rem;
  width: 6rem;
  height: 0.9rem;
}
.search__btn {
  height: 3rem;
  width: 3rem;
}
.btn {
  background-image: linear-gradient(to right bottom, #f7931e, #fcee21);
  border-radius: 12rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.btn svg {
  height: 1.5em;
  width: 1.5rem;
  fill: currentColor;
}
.btn-con {
  justify-content: center;
  align-items: center;
}
.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}
.btn:hover {
  transform: scale(1.1);
}
.nav__btn {
  margin-right: 1rem;
  display: flex;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  align-items: center;
}
.icons {
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
}
.nav__btn:hover {
  transform: scale(1.2);
}

/* NOATNIK  */

.note-list {
  box-shadow: 0px -0.5px 1px rgba(0, 0, 0, 0.425);
  border-radius: 0.5rem;
  background-color: white;
  width: 98%;
  height: 87%;
  overflow: hidden;
}
.category-fig {
  width: 3rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}
.note-block {
  transition: all 0.2s;
  box-shadow: 0px 0.5px 0px rgb(187, 187, 187);
  padding: 1rem 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.block-icons {
  display: flex;
}
.view {
  padding: 0.5rem;
  width: 3rem;
  transition: all 0.2s;
}
.view:hover {
  transform: scale(1.1);
}
.note {
  display: flex;
}
.note-block:hover {
  background-color: #f1f1f1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);

  transition: all 0.2s;
}
.upload__column {
  display: flex;
  flex-direction: column;
}

.add-note-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: #fff;
  border-radius: 9px;
  padding: 2rem 2rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  transition: all 0.2s;
}
.formatting {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  background-color: #fff;
  border-radius: 9px;
  padding: 2rem 2rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s;
}
.newNote {
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
}
.btnClose {
  position: absolute;
  top: 0.5rem;
  right: 1.6rem;
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.8rem;
  color: rgb(71, 71, 71);
}

.title-Input {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  outline: none;
}
.title-Input::placeholder {
  opacity: 0.5;
}

.drop-down {
  font-family: Nunito Sans, sans-serif;

  padding: 0.5rem 1.5rem 0.1rem 1.5rem;
  text-align: center;
  font-size: 1.3rem;

  border: none;
  justify-content: center;
  outline: none;
}
.markup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newNote {
  margin: auto;
  margin-top: 2rem;
}
.title {
  text-align: center;
  opacity: 0.3;
}
.title-new {
  align-self: center;
  font-weight: bold;
}
.bg {
  width: 50%;
  justify-self: flex-end;
}
.bg-active {
  background-image: url("background.svg");
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 80%;
  opacity: 0.1;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.plus-icon {
  justify-self: center;
  align-self: center;
  width: 6rem;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.plus {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transition: all 0.2s;
}
.span-plus {
  font-size: 2rem;
  font-weight: 600;
}

.text-editor {
  outline: none;
  width: 100%;
  height: 60vh;
  max-height: 70vh;
  overflow: hidden;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: left;
}
.text-editor:focus {
  outline: none;
}
#text-editor ul,
#text-editor ol {
  text-align: inherit;
}

.format-btn {
  width: 2rem;
  height: 2rem;
  background-image: linear-gradient(to right bottom, #f7931e, #fcee21);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}
.format-btn:hover {
  opacity: 0.5;
}
.align-btn {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  background-image: linear-gradient(to right bottom, #f7931e, #fcee21);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
ul,
ol {
  text-align: inherit;
}

ul li,
ol li {
  text-align: inherit;
}
ul.ul-list {
  text-align: inherit;
  list-style-position: inside;
}

ol.ol-list {
  text-align: inherit;
  list-style-position: inside;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.plus-icon:hover {
  transform: scale(1.1);
}
